
//main.........
    .main{
        width:100%;
        .clearance_Info{
            width:100%;
            background:#fff;
            ul{
                li{
                    float:left;
                    width:50%;
                    height:2.3rem;
                    padding:0.1rem;
                    a{
                        img{
                            width:1.45rem;
                            height:1.45rem;
                        }
                    }
                    .clearance_name{
                        font-size: 0.13rem;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                      
                    }
                    .clearance_sale{
                        font-size: 0.13rem;
                        color:orange;
                    }
                    .clearance_buy{
                        display: block;
                        width:100%;
                        span:first-child{
                            float:left;
                            font-size: 0.13rem;
                            display: block;
                            width:50%;
                            height:0.35rem;
                            color:#fff;
                            text-align: center;
                            line-height: 0.35rem;
                            background:#FF85AC;
                        }
                        span:last-child{
                            display: block;
                            font-size: 0.13rem;
                            float:left;
                            width:50%;
                            height:0.35rem;
                            color:#fff;
                            text-align: center;
                            line-height: 0.35rem;
                            background:#e7507b;
                            
                        }
                    }
                }
            }
        }
    }
